form{
    padding: 30px;
    padding-left:0px;
    font-family: 'Zilla Slab', serif;
    font-size: 20px;
    margin-left:30% ;
}

.cuadrito{
    margin:10px;
}

.input1{
    width: 350px;
    height: 20px;

}

.estado{
    height: 20px;
}

.btn{
    padding: 10px;
    width: 80px;
    border: 1px solid black ;
    margin:10px;
    background-color: white;
    font-family: 'Zilla Slab', serif;
}

.btn:hover{
    background-color: rgb(177, 177, 177);
    border: 1px solid rgb(63, 63, 63) ;
}

.botones{
    margin-left: 20%;
}