<form>
    <div clas="titulo">
      <label for="titulo" class="label">Titulo</label>
      <div>
        <input id="titulo" class="input1" type="text" placeholder="Juan Francisco" required="true">
      </div>
    </div>

    <div class="estado">
      <label for="estado">Estado</label>
      <div>
        <select id="Estado" required="true">
          <option>Seleccione estado</option>
          <option value="1">Iniciado</option>
          <option value="2">En proceso</option>
          <option value="3">Terminado</option>
        </select>
      </div>
    </div>

    <div class="botones">
      <button type="reset"> Cancelar </button> 
      <a [routerLink]="['/tareas']" routerLinkActive="router-link-active" >
        <button type="submit"> subir</button>
      </a>  
    </div>
  </form>